body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(82, 59%, 75%);
}

.NAV {
  height: 40px;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  font-family: serif;
}

.firstPage{
  height: 60px;
  margin-top: 300px;
  font-size: 30px;
  display: flex;
  justify-content:center;
}

.firstPage div{
  padding: 5px;
  background-color: AliceBlue;
  border: 2px solid grey;
  border-style: groove;
  border-radius: 6px;
  font-style: italic;
  font-family: serif;

}
.Unoccupied {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: 11px;
  border: 3px solid brown;
}

.Occupied {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: hsl(82, 59%, 39%);;
  display: flex;
  justify-content: center;
  font-size: 11px;
  border: 3px solid hsl(82, 59%, 39%);;
}

.updatedDiv{
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: 11px;
  border: 3px solid brown;
}

.Unoccupied:hover {
  background-color: red   ;
}

.updatedDiv:hover {
  background-color: red;
}

.updatedDiv:active {
  background-color: orange;
}

.aisle {
  padding-right: 10px;
  font-style: italic;
  font-weight: bold;
  padding-top: 20px;
  background-color: BlanchedAlmond ;
}

.headings {
  padding-top: 60px;
  padding-right: 15px;
  padding-left: 35px;
  display: flex;
  justify-content: center;
  background-color: BlanchedAlmond ;

}

.singlePosts {
  width: 70px;
  height: auto;
}
.active {
  color: pink;
}

.First {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.business {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Economy {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
